.organizations-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.organization-section-header {
  margin-top: 2em;
  color: var(--c);
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
  /* margin-bottom: 1em; */
}
.organization-card {
  background-color: var(--d);
  padding: 1em;
  width: fit-content;
  margin: 2em;
  width: 500px;
  text-align: center;
}
.organization-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.organization-card-image {
  height: 100px;
  object-fit: cover;
}
.organization-card-position {
  color: var(--c);
  text-align: center;
  font-weight: 800;
  /* font-size: 2em; */
}
.organization-description {
  color: var(--c);
}
.organization-name {
  color: var(--a);
  font-weight: 500;
  margin-bottom: 1em;
  font-size: 1.25rem;
}
.duration {
  color: var(--a);
}
.organization-detail {
  font-weight: 500;
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .organization-card {
    margin: 1em;
    width: 100%;
  }
  .organization-card:hover {
    transform: scale(1);
  }
}
